.title {
    text-align: center;
    padding-left: 275px;
    padding-top: 20px;
    padding-bottom: 30px;
}

.blue-box {
    width: 900px;
    height: 470px;
    background-color: #6ED1FC;
    margin-top: -495px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}

.dark-blue-box {
    width: 900px;
    height: 475px;
    background-color: #032B43;
    margin-left: 290px;
    overflow: hidden;
}

.form-container {
    padding-left: 35px;
    padding-top: 35px;
    display: flex;
}

.textfield-container {
    padding-top: 65px;
    flex: 50%;
}

.group-name-field {
    width: 300px;
}

.desc-field {
    width: 350px;
    height: 325px;
}

.slider-container {
    padding-top: 65px;
}

.col1 {
    padding-left: 75px;
}

.col2 {
    padding-left: 50px;
}

.submit-info-container {
    padding-top: 15px;
    text-align: center;
}

.submit-info {
    color: white;
    background-color: #10729C;
    width: 100px;
    height: 40px;
    border-radius: 10px;
    border: none;
}

.date-picker-div {
    padding-top: 20px;
}
