.study-desc {
  color: white;
  font-size: 50px;
}

.blue-rect 
{
  padding: 20px;
  margin: 40px;
  background-color: #6ED1FC;
}

.home-text-title {
  font-size: 70px;
}

#title {
  font-weight: 900;
}

#title-desc {
  font-weight: 400;
}