.profile-container {
  max-width: 600px;
  margin: auto;
  margin-top: 50px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center; /* Center align the content */
}

.profile-form {
  display: flex;
  margin-bottom: 10px;
  flex-direction: column;
  align-items: center; /* Center align form items */
}

.profile-picture-container {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
  margin: 20px 0% 20px 30%;
}

.profile-picture {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

label {
  margin-top: 20px; /* Increase the top margin for labels */
  font-weight: bold;
}

input,
button {
  margin-top: 8px;
  padding: 10px;
  font-size: 16px;
  border-radius: 4px;
  outline: none;
}

