.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 800px;
    background-color: #6ED1FC;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.date-time, .location, .notification, .zoom-link, .buttons {
    margin-bottom: 20px;
}

.title {
    font-size: 50px;
    margin-bottom: 20px;
}

.date-title, .class-title, .location-title, .notification-title, .zoom-title {
    text-align: center;
    margin-bottom: 10px;
}

.location-input, .zoom-input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
}

.location-button {
    width: 100%;
    padding: 8px;
    background-color: #032B43;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.buttons {
    display: flex;
    justify-content: space-between;
}

.submit-session, .cancel-session {
    padding: 8px 20px;
    background-color: #032B43;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.submit-session:hover, .cancel-session:hover {
    background-color: #2405d4; 
}
