
.title {
    padding-left: 275px;
    padding-top: 20px;
    padding-bottom: 30px;
}

.blue-box {
    width: 900px;
    height: 470px;
    background-color: #6ED1FC;
    margin-top: -495px;
    margin-left: auto;
    margin-right: auto;
}

.dark-blue-box {
    width: 900px;
    height: 475px;
    background-color: #032B43;
    margin-left: 290px;
}

.date-title {
    padding-top: 20px;
    text-align: center;
}

.class-title {
    text-align: center;
}

.location-label {
    padding-left: 10px;
    padding-right: 10px;
}

.location-text {
    font-size: larger;
    font-weight: 600;
    padding-top: 30px;
    padding-left: 143px;
    display: flex;
    align-items: center;
}

.submit-location {
    margin-left: 10px;
}

#name {
    width: 365px;
}

#name1 {
    width: 505px;
}

.checkbox-notif {
    padding-top: 20px;
}

.zoom-link {
    font-weight: 600;
    padding-top: 20px;
    padding-left: 143px;
}

.zoom-label {
    padding-left: 10px;
    padding-right: 10px;
}

.submit-session {
    margin-top: 20px;
}

.submit-session-btn {
    display: flex;
    justify-content: center;
}